* {
    margin:0;
    padding:0;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar {
    list-style-type: none;
}

h1 {
    text-align: center;
    padding:1em 0;
    color:#d7d6d6;
    background-color:#1b1c1c;
}

.navbar {
    display:flex;
}

.navitem {
    text-align:center;
    font-size:2em;
    flex:1;
}

.navlink {
    text-decoration: none;
    display:inline-block;
    width:100%;
}
nav {
    max-width:1000px;
    margin: 0 auto;
    padding:1em 0;
}